import com.cloudbees.plugins.credentials.impl.*;
import com.cloudbees.plugins.credentials.*;
import com.cloudbees.plugins.credentials.domains.*;
import org.jenkinsci.plugins.plaincredentials.*;
import org.jenkinsci.plugins.plaincredentials.impl.*;
import com.cloudbees.plugins.credentials.common.*;
import com.cloudbees.jenkins.plugins.sshcredentials.impl.*;

import hudson.util.Secret

def credentials = new UsernamePasswordCredentialsImpl(
    CredentialsScope.GLOBAL,
    "{{ credentialsId }}",
    "{{ description }}",
    "{{ username }}",
    "{{ password }}"
);

SystemCredentialsProvider
    .getInstance()
    .getStore()
    .addCredentials(
        Domain.global(),
        credentials
    )
